.component-fullscreen {}

.component-typography-title {
    color: $body-bg;
    font-size: 7rem;
    transition: letter-spacing 1.2s cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: .8rem;
}

.component-block {
    width: 100%;
    margin: 4.5rem 0;
    padding: 5rem 0;

    &-light {
        background: $body-bg-light;
        box-shadow:
            0 1.5rem 0 rgba(238, 238, 238, 0.3),
            0 3rem 0 rgba(238, 238, 238, 0.2),
            0 4.5rem 0 rgba(238, 238, 238, 0.1),
            0 -4.5rem 0 rgba(238, 238, 238, 0.1),
            0 -3rem 0 rgba(238, 238, 238, 0.2),
            0 -1.5rem 0 rgba(238, 238, 238, 0.3);
    }

    &-dark {
        background: $body-bg;
    }

    p {
        text-align: justify;
    }

    .component-title {
        width: 100%;
        text-align: center;
        margin: 0;

        h2 {
            display: inline-block;
            font-size: 3.5rem;
            margin-bottom: 4rem;
            border-right: .2rem solid;
            padding-right: 1rem;
            animation: blink-caret 1s ease infinite;
        }

        &-light {
            color: $body-bg;
            border-color: $body-bg;
        }

        &-dark {
            color: $body-bg-light;
            border-color: $body-bg-light;
        }
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: inherit;
    }
}
