#component-fullscreen {
}

#component-lightblock {
    background: $body-bg-light;
    margin-top: 75px;
    margin-bottom: 75px;
    box-shadow:
        0 25px 0 rgba(238, 238, 238, 0.3),
        0 50px 0 rgba(238, 238, 238, 0.2),
        0 75px 0 rgba(238, 238, 238, 0.1),
        0 -75px 0 rgba(238, 238, 238, 0.1),
        0 -50px 0 rgba(238, 238, 238, 0.2),
        0 -25px 0 rgba(238, 238, 238, 0.3);
}
